<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.jt.sys.dao.SysMenuDao">
  <!-- 查询菜单以及上一级菜单信息(只需要名字) -->
  <!-- 用自关联(要起别名，左外连接) -->
	<select id="findObjects" resultType="map">
		<!-- 方案1 
		select c.*,p.name parentName
		from sys_menus c left join sys_menus p
		on c.parentId=p.id
		-->		
		<!-- 方案2 -->
		select c.*,(select name 
					from sys_menus p
					where c.parentId=p.id) parentName
		from sys_menus c
	</select>
	
	<select id="getChildCount" resultType="int">
		select count(*) 
		from sys_menus
		where parentId=#{id}
	</select>
	<delete id="deleteObject">
		delete 
		from sys_menus
		where id=#{id}
	</delete>
	
	<select id="findZtreeMenuNodes" 
			resultType="com.jt.common.vo.Node">
		select id,name,parentId
		from sys_menus
	</select>
	
	<insert id="insertObject" 
			parameterType="com.jt.sys.entity.SysMenu">
		insert into sys_menus
		(name,url,type,sort,note,parentId,permission,
		 createdTime,modifiedTime,createdUser,modifiedUser)
		 values
		(#{name},#{url},#{type},#{sort},#{note},#{parentId},
		 #{permission},#{createdTime},#{modifiedTime},
		 #{createdUser},#{modifiedUser})
	</insert>
	
	<update id="updateObject"
			parameterType="com.jt.sys.entity.SysMenu">
		update sys_menus
		<set>
		<if test="name!=null and name!=''">
			name=#{name},
		</if>
		<if test="type!=null">
			type=#{type},
		</if>
		<if test="sort!=null">
			sort=#{sort},
		</if>
		<if test="url!=null and url!=''">
			url=#{url},
		</if>
		<if test="permission!=null and permission!=''">
			permission=#{permission},
		</if>
		<if test="parentId!=null">
			parentId=#{parentId},
		</if>
		<if test="modifiedTime!=null">
			modifiedTime=#{modifiedTime},
		</if>
		<if test="modifiedUser!=null and modifiedUser!=''">
			modifiedUser=#{modifiedUser}
		</if>
		</set>
		where id=#{id}
	</update>
  </mapper>